

name: Test and Build

on:
  push:
    branches:
      - master
    paths:
      - '**/*'

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Docker setup
        uses: docker/setup-buildx-action@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8

      - name: Run linting tests
        run: |
          flake8 --ignore=E501 .

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWARD }}

      - name: Generate Docker tag
        id: version
        run: |
          VERSION="v$(date +'%y%m%d%H%M%S')"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t kambleamitwork/demo-app:${{ env.VERSION }} .

      - name: Push Docker image
        run: |
          docker push kambleamitwork/demo-app:${{ env.VERSION }}

      # update the k8s manifest file#
      - name: update k8s manifest file
        run : |
         echo "Before update"
         cat deploy/deploy.yaml
         sed -i "s|image: kambleamitwork/demo-app:*|image: kambleamitwork/demo-app:${{ env.VERSION }}|g" deploy/deploy.yaml
           echo "After update"
         cat deploy/deploy.yaml
      # update github#
      - name: commit the changes
        run: |
         git config --global user.email "yezindagi1234@gmail.com"
         git config --global user.name "etoska-12"
         git add deploy/deploy.yaml
         git commit -m "updaste deploy.yaml with new image tag ${{ env.VERSION }}"
         git remote set-url origin https://etoska-12:${{ secrets.GITHUB_TOKEN }}@github.com/etoska-12/flask-app-github-actions-argocd-amit.git
          git push origin master