name: Test and Build


on:
   
    push:
            branches:
                - master
                
            paths:
                - '**/*'
    jobs:
                


        Build:
        runs-on: ubuntu-latest

        steps:
        - name: checkout code 
          uses: actions/checkout@v2
        - name: set up python
          uses: actions/setup-python@v2
          with:
                python-version: '3.9'
                
        - name: Docker setup
          uses: docker/setup-buildx-action@v2

       -  name: install dependencies
          run: |
           python -m pip install --upgrade pip
           pip install -r requirements.txt
           pip install flake8
        #test the code

   
        - name: Run linting tests
          run: |
            flake8 --ignore=E501 .
        - name: Docker Credentials
          uses: docker/login-action@v2
          with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

        - name : Docker tag
          id: version
          run: |
           VERSION:V$[date + '%y%m%d%H%M%S']
           echo "VERSION=$VERSION" >> $GITHUB_ENV      
                
          # Build the docker image
        - name: Build Docker image
          run: |
           docker build -t  kambleamitwork/demo-app:${{ env.VERSION }}
        - name: push docker image
            run: |
            docker push kambleamitwork/demo-app:${{ env.VERSION }}





